<h1><%= @cocktail[:name] %></h1>

<%#= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<img src="<%= @cocktail.photo %>" alt="">
<p> <%= @cocktail.photo %></p>
<div class="container">
  <div><h4><%= link_to "Back to menu", cocktails_path %></h4>
  <h5><%= link_to "Delete dessert", cocktail_path(@cocktail), method: :delete %></h5>
</div>
